{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Password Change{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome to {{request.user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile </a></li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1">
            <h5> Change Password </h5>
            <hr>

            <form action="" method="post" novalidate class="shadow-sm p-5">
                {% csrf_token %} 
                {% for fm in form %}

               <div>

                {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>

               </div>

                {% endfor %}


               <br>

               <input type="submit" class="btn btn-primary" value="Save">


               {% if form.non_field_errors %}
               {% for error in form.non_field_errors %}
               <p class='alert alert-danger'>{{error}}</p>

               {% endfor %}
               {% endif %}
                
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}

