{% extends 'Shop/base.html' %}

{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        
        <h3>Welcome Ripon Mia</h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary"> Profile</a></li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 alert alert-success" role="alert">
            
            <h5> Password Change Successfully</h5>
          </div>


       
        
                
                


                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="100" viewBox="0 0 16 16">
                    <path fill="#00b569" d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z"></path><polygon fill="#fff" points="7,12 3.48,8.48 4.894,7.066 7,9.172 11.71,4.462 13.124,5.876"></polygon>
                    </svg>



                <!--

<i class="fa fa-check" aria-hidden="true"></i>



  <iframe src="https://giphy.com/embed/zaqclXyLz3Uoo" width="100" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/zaqclXyLz3Uoo">via GIPHY</a></p>

                -->

              

            
        </div>
    </div>
</div>


{% endblock main-content %}